lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
public/bower_components

routes/credentials.js

uploads/*
shapes
setup/db_setup.txt
setup/reference.sql
setup/remove_tests.sql

public/images/full/*
public/images/main/*
public/images/thumbs/*
routes/credentials.js

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
