<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>The Ohio Coleopterist Society</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css" />

    <link rel="stylesheet" href="/bower_components/bootstrap-datepicker/css/datepicker.css" />
    <link href="/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="/css/upload.css" rel="stylesheet"/>
    <style>

    #taxon_wrapper {
      width: 100%;
      margin-left: 0;
      text-align: left;
    }

    #selectedLocation {
      display: block;
    }
    </style>
  </head>

  <body>
    {{>header}}

    <div class="container" id="pageContent">
      <div class="row">
        <div class="col-sm-12">
          <form method='POST' enctype='multipart/form-data' action='/edit' id='uploadForm' onSubmit="return validate()" role="form">

          
              <div id="taxon_info">
                <h3>Taxonomic info</h3>
                <div id="taxon_wrapper">
                  <div class="form-group" id="familyGroup">
                    <label for="familyInput">Family</label>
                    <input placeholder='Family (required)' type='text' size='35' name='taxon_family' data-provide='typeahead' class="form-control" id="familyInput"/>
                    <input type='hidden' name='pbdb_family_no' value='' class="form-control"/>
                  </div>

                  <div class="form-group">
                    <label for="commonNameInput">Common name</label>
                    <input placeholder='Common name' type='text' size='35' name='common_name' class="form-control" id="commonNameInput"/>
                  </div>

                  <div class="form-group">
                    <label for="genusInput">Genus</label>
                    <input placeholder='Genus' type='text' size='35' name='taxon_genus' data-provide='typeahead' class="form-control" id="genusInput"/>
                    <input type='hidden' name='pbdb_genus_no' value='' class="form-control"/>
                  </div>
                  
                  <div class="form-group">
                    <label for="speciesInput">Species</label>
                    <input placeholder='Species' type='text' size='35' name='taxon_species' data-provide='typeahead' class="form-control" id="speciesInput"/>
                    <input type='hidden' name='pbdb_species_no' value='' class="form-control"/>
                  </div>
                  
                  <div class="form-group">
                    <label for="authorInput">Author</label>
                    <input placeholder='Author' type='text' size='35' name='taxon_author' class="form-control" id="authorInput"/>
                  </div>

                  <div class="form-group">
                    <label for="determinerInput">Determiner</label>
                    <select class="large form-control" name='determiner' id="determinerInput">
                      <option value="" selected>&nbsp;</option>
                      {{#people}}
                      <option value="{{id}}">{{name}}</option>
                      {{/people}}
                    </select>

                    <input type='hidden' name='determiner_full'/>
                  </div>
                

                  <span class="form-inline">
                    <div class="form-group individuals">
                      <label for="totalIndividuals">Total Individuals</label>
                      <select class='totals form-control' name='n_total_specimens' id="totalIndividuals">
                        <option value="0" selected>0</option>
                        <option value="1" selected>1</option>
                        <option value="2" selected>2</option>
                        <option value="3" selected>3</option>
                        <option value="4" selected>4</option>
                        <option value="5" selected>5</option>
                        <option value="6" selected>6</option>
                      </select>
                    </div>
                    
                    <div class="form-group individuals">
                      <label for="maleIndividuals">Males</label>
                      <select class='totals form-control' name='n_male_specimens' id="maleIndividuals">
                        <option value="0" selected>0</option>
                        <option value="1" selected>1</option>
                        <option value="2" selected>2</option>
                        <option value="3" selected>3</option>
                        <option value="4" selected>4</option>
                        <option value="5" selected>5</option>
                        <option value="6" selected>6</option>
                      </select>
                    </div>

                    <div class="form-group individuals">
                      <label for="femaleIndividuals">Females</label>
                      <select class='totals form-control' name='n_female_specimens' id="femaleIndividuals">
                        <option value="0" selected>0</option>
                        <option value="1" selected>1</option>
                        <option value="2" selected>2</option>
                        <option value="3" selected>3</option>
                        <option value="4" selected>4</option>
                        <option value="5" selected>5</option>
                        <option value="6" selected>6</option>
                      </select>
                    </div>
                  </span>
                </div>

              </div>


              <div id="location">
                <h3>Location</h3>
                <div class="form-group">
                  <label for="locationSelect">Location observed/collected*</label>
                  <div class="btn btn-info locationSelect" data-toggle="#locationModal">Select location</div><br>
                  <div id="selectedLocation">
                    <i>Location selected: </i><span id="selectedLat"></span>, <span id="selectedLng"></span> <span class="edit locationSelect">edit</span>
                  </div>
                  <input type='hidden' name='lat'>
                  <input type='hidden' name='lng'>
                </div>
                  
                <div class="form-group">
                  <label for="geomBasisInput">Resolution*</label>
                  <select class='medium form-control' name='geom_basis' id="geomBasisInput">
                    <option value="" selected></option>
                    {{#geom_bases}}
                    <option value="{{id}}">{{geom_basis}}</option>
                    {{/geom_bases}}
                  </select>
                  <input type='hidden' name='geom_basis_full'/>
                </div>

                <textarea class='form-control' name='location_note' placeholder='Add any notes about the collection location here' rows="3"></textarea>

              </div>


              <div id="collection_info">
                <h3>Collection details</h3>
                <div id="collection_info_wrapper">

                  <div class="form-group">
                    <div class="input-daterange input-group" id="collectionDatepicker">
                      <input type="text" class="input-md form-control" name="collection_start_date" placeholder="Date start (required)"/>
                      <span class="input-group-addon">to</span>
                      <input type="text" class="input-md form-control" name="collection_end_date" placeholder="Date end (optional)"/>
                    </div>
                  </div>
                    

                  <div class="form-group">
                    <label for="collectorInput">Collector</label>
                    <select class="medium form-control" name='collector'>
                      <option value="" selected>&nbsp;</option>
                      {{#people}}
                      <option value="{{id}}">{{name}}</option>
                      {{/people}}
                    </select>
                    <input type='hidden' name='collector_full'/>
                  </div>

                  <div class="form-group">
                    <label for="collectionMethodInput">Collection Method</label>
                    <select class='medium form-control' name='collection_method' id="collectionMethodInput">
                      <option value="" selected>&nbsp;</option>
                      {{#collection_methods}}
                      <option value="{{id}}">{{collection_method}}</option>
                      {{/collection_methods}}
                    </select>
                    <input type='hidden' name='collection_method_full'/>
                  </div>

                  <div class="radio-inline">
                    <label>
                      <input type="radio" name="only_observed" value="0" checked>
                      Collected
                    </label>
                  </div>
                  <div class="radio-inline">
                    <label>
                      <input type="radio" name="only_observed" value="1">
                      Observed
                    </label>
                  </div>
                  


                  <div class="form-group">
                    <label for="baitInput">Bait Type</label>
                    <select class='medium form-control' name='bait_type' id="baintInput">
                      <option value="" selected>&nbsp;</option>
                      {{#baits}}
                      <option value="{{id}}">{{bait}}</option>
                      {{/baits}}
                    </select>
                    <input type='hidden' name='bait_type_full'/>
                  </div>


                  <div class="form-group">
                    <label for="collectionMediaInput">Collection Medium</label>
                    <select class='medium form-control' name='collection_medium' id="collectionMediaInput">
                      <option value="" selected>&nbsp;</option>
                      {{#collection_media}}
                      <option value="{{id}}">{{collection_medium}}</option>
                      {{/collection_media}}
                    </select>
                    <input type='hidden' name='collection_media_full'/>
                  </div>
                  
                  <div class="form-group">
                    <label for="environmentInput">Environment</label>
                    <select class='medium form-control' name='environ' id="environmentInput">
                      <option value="" selected>&nbsp;</option>
                      {{#environments}}
                      <option value="{{id}}">{{environ}}</option>
                      {{/environments}}
                    </select>
                    <input type='hidden' name='environment_full'/>
                  </div>

                </div>
              </div>


              <div id="notes">
                <h3>Notes</h3>
                <input type='hidden' name='note_id'>
                <textarea class='form-control' name='note' placeholder='Occurence notes...' rows="3"></textarea>
              </div>


              <div id="image">
                <h3>Photo</h3>
                <input type='file' name='filesToUpload' id='filesToUpload' style='display:none;' />

                <div id="dropTarget">
                  <i class="fa fa-plus fa-3x" id="uploadPlus"></i><br>
                  <i id="uploadText">Click to add image</i>
                </div>
                <output id="selectedImages">
                  <input type="hidden" name="image_id">
                  <img exif="true" id="imageToUpload" class="imagesToUpload" src=""/>
                  <!--<span class="edit image"><i class="fa fa-ban"></i>  Remove</span>-->
                </output>

                <div class="form-group">
                  <label for="photographerInput">Photographer</label>
                  <select class="medium form-control" name='photographer' id="photographer">
                    <option value="" selected>&nbsp;</option>
                    {{#people}}
                    <option value="{{id}}">{{name}}</option>
                    {{/people}}
                  </select>
                  <input type='hidden' name='photographer_full'/>
                </div>



                <textarea class='form-control' name='image_description' placeholder='Photo description...' rows="3"></textarea>

                <div class="form-group">
                  <div class="input-group date" id="photoDatepicker">
                    <input type="text" class="form-control" name="image_date" placeholder="Photo date"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>
                  
                <div class="form-group">
                  <label for="selectedLocationPhoto">Photo location</label>
                  <div class="btn btn-info locationSelectPhoto" id="photoLocationBtn">Select location</div><br>
                  <div id="selectedLocationPhoto">
                    <i>Location selected: </i><span id="selectedLatPhoto"></span>, <span id="selectedLngPhoto"></span> <span class="edit locationSelectPhoto">edit</span>
                  </div>

                  <input type='hidden' name='photolat'><input type='hidden' name='photolng'>
                </div>

              </div>

              <div id="review">
                <input type='hidden' name='occurrence_id'>
                <input type='hidden' name='taxon_id'>
                <button type="submit" value="Submit" class="btn btn-success" id="submit">Update data</button>
              </div>

          </form>
        </div>
      </div>
    </div><!--/.fluid-container-->


    <div id="locationModal" class="modal modalImage fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body image">
            <ul id="tabs" class="nav nav-tabs" style="display:none;">
              <li class="active"><a href="#method" data-toggle="tab"><i class="icon-th"></i></a></li>
              <li><a href="#address" data-toggle="tab"><i class="icon-th"></i></a></li>
              <li><a href="#coordinates" data-toggle="tab"><i class="icon-picture"></i></a></li>
              <li><a href="#map" data-toggle="tab"></a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="method">
                <div class="row">
                  <div class="col-sm-12" id="mapSelectHeader">
                    <h3>Select an input method</h3>
                  </div>
                </div>
                <div class="row" id="mapButtons">
                  <div class="col-sm-3 locationMethod btn btn-primary" id="coordinates">Enter coordinates<i class="fa fa-globe fa-2x"></i></div>
                  <div class="col-sm-3 locationMethod btn btn-primary" id="mapSelector">Select via map<i class="fa fa-map-marker fa-2x"></i></div>
                  <div class="col-sm-3 locationMethod btn btn-primary" id="address">Address, city, or county<i class="fa fa-home fa-2x"></i></div>
                </div>
              </div>

              <div class="tab-pane" id="mapPane">
                <div class="modalBack"><i class="fa fa-arrow-left"></i> back</div>
                <div id="map"></div>
              </div>

            </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close &times;</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/mustache/mustache.js"></script>
    <script src="/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
    <script src="/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    
    <script src="/bower_components/leaflet/dist/leaflet.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
    <script src="/lib/google.js"></script>
    
    <script src="/js/binaryajax.js"></script>
    <script src="/js/exif.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/editBeetle.js"></script>

  </body>
</html>