<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>The Ohio Coleopterist Society</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/bower_components/leaflet.markerclusterer/dist/Markercluster.css" />
    <link rel="stylesheet" href="/bower_components/leaflet.markerclusterer/dist/Markercluster.Default.css" />
    <link rel="stylesheet" href="/css/common.css"/>

  </head>

  <body>
    {{>header}}

    <div class="container-fluid">
      <div class="row" id="filterRow">
        <div class="col-sm-12">
          <div id="map"></div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-3 stats" id="families"></div>
        <div class="col-sm-3 stats" id="occurrences"></div>
        <div class="col-sm-3 stats" id="photos"></div>
        <div class="col-sm-3 stats" id="contributors"></div>
      </div>    

      <div class="row">
        <div class="col-sm-4">
          <div class="family-desc" id="family-desc-1"></div>
        </div>
        <div class="col-sm-4">
          <div class="family-desc" id="family-desc-2"></div>
        </div>
        <div class="col-sm-4">
          <div class="family-desc" id="family-desc-3"></div>
        </div>
      </div>  

      <div class="row">
        <div class="col-sm-4">
          <div class="family-image" id="family-image-1"></div>
        </div>
        <div class="col-sm-4">
          <div class="family-image" id="family-image-2"></div>
        </div>
        <div class="col-sm-4">
          <div class="family-image" id="family-image-3"></div>
        </div>
      </div>      
        
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
    <script src="/bower_components/mustache/mustache.js"></script>
    <script src="/bower_components/leaflet/dist/leaflet.js"></script>
    <script src="/bower_components/leaflet.markerclusterer/dist/leaflet.markercluster.js"></script>
    <script src="/bower_components/validator-js/validator.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/root_revised.js"></script>
  </body>
</html>