<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>The Ohio Coleopterist Society</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/bower_components/leaflet.markerclusterer/dist/Markercluster.css" />
    <link rel="stylesheet" href="/bower_components/leaflet.markerclusterer/dist/Markercluster.Default.css" />

    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet"href="/css/occurrences.css"/>
    
  </head>

  <body>
    {{>header}}

    <div class="container-fluid">
      <div class="row" id="filterRow">
        <div class="col-sm-12">
          <!--<form class="form-inline">


            <select id="collectorFilter" class="form-control input-medium">
              <option value="0" selected="selected">Collector...</option>
              {{#collectors}}
              <option value="{{last_name}}">{{name}}</option>
              {{/collectors}}
            </select>

          </form>-->
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <table class="table table-condensed" id="resultTable">
            <thead>
              <tr>
                <th>More Info</th>
                <th>Family</th>
                <th>Taxon</th>
                <th>Collector</th>
              </tr>
            </thead>
            <tbody id="resultTbody"></tbody>
          </table>
        </div>
        <div class="col-sm-4">
          <div id="map"></div>
          <div id="graph"></div>
        </div>
      </div>
        
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/mustache/mustache.js"></script>
    <script src="/bower_components/leaflet/dist/leaflet.js"></script>
    <script src="/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
    <script src="/bower_components/leaflet.markerclusterer/dist/leaflet.markercluster.js"></script>
    <script src="/bower_components/validator-js/validator.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script src="/js/common.js"></script>
    <script src="/js/occurrences.js"></script>
  </body>
</html>