<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>The Ohio Coleopterist Society</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="/css/common.css" rel="stylesheet" type="text/css"/>
    
  </head>

  <body>
    {{>header}}

    <div class="container">
      <div class="row" id="filterRow">
        <div class="col-sm-12" style="text-align:center;">
          <h3>Upload successful!</h3>
          <p>Redirecting back to main page...</p>
        </div>
      </div>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      setTimeout(function() {
        localStorage.setItem("formData", "");
        window.location.href = "/addBeetle";
      }, 3500);

    </script>
  </body>
</html>