body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

i {
  color: #777;
  text-decoration: none;
}

i:hover {
  text-decoration: none;
}

.typeahead,
.tt-query,
.tt-hint {
  width: auto;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
  width:100%;
  top:2px !important;
}

.tt-dropdown-menu {
  width: auto;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 20px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

#searchGroup .twitter-typeahead {
  width: 100%;
  padding-bottom: 0px;
  background-color: #fff;
  border-radius: 5px;
}

.autocompleteCategory {
  margin: 10px 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
  color:#777;
}

.nav-tabs {
  padding-top:15px;
}

.nav-tabs > li > a {
  color:#777;
}

.nav-tabs > li.active > a {
  background-color: transparent !important;
  border-bottom-color: #f5f5f5 !important;
}

.dropdown-menu {
  padding: 20px;
  min-width: 300px;
  background-color: #222;
}

.dropdown-menu > li > a {
  color: #999;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color:transparent;
  color:#fff;
}

#searchMenu {
  padding: 14px 30px 6px 30px;
}

#searchInput {
  width:100%;
}

.help-inline {
  color:#a94442;
}

#map {
  height:450px;
}

.info {
  background-color: #fff;
  text-align: center;
  padding: 7px 15px 15px 15px;
  border-radius: 3px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.stats {
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  padding: 20px;
  background-color: rgba(8,8,8,0.7);
  color: whitesmoke;
}

.family-desc {
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  padding: 20px;
}
.family-image {
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
}
    