.table-condensed th {
  text-align: center;
  vertical-align: middle;
}

#resultTable {
  margin-top: 20px;
}

#resultTable td {
  vertical-align: middle;
}

#resultTbody > tr > td {
  text-align: center;
}

.noBoarder {
  border-top: 0 !important;
}

.panel-body {
  text-align: left;
  margin-left: 95px;
}

.panel-group {
  margin: 0;
}

.panel-heading {
  padding: 2px;
}

.occurrenceImage {
  width: 100%;
}
