module.exports = {
  "user": "me",
  "host": "localhost",
  "port": 5432,
  "database": "database_name",
  "checkLogin": "SELECT id, first_name, last_name, institution_id FROM neodb.people WHERE email = $1 AND password = md5($2)",
  "path": "/wwww/app"
}