{{#occurrences}}
<tr>
  <td>
    <div class="panel-group" id="accordion{{id}}">
      <div class="panel-heading">
        <a href="#collapse{{id}}" data-parent="#accordion{{id}}" data-toggle="collapse" ><i class="fa fa-plus-square fa-2x"></i></a>
      </div>
    </div>
  </td>
  <td>{{taxon_family}}</td>
  <td class="taxon_name">
    {{#taxon_species}}
      <i><a href="/occurrences?genus={{taxon_genus}}">{{taxon_genus}} {{taxon_species}}</a></i>
    {{/taxon_species}}
    {{^taxon_species}}
      {{#taxon_genus}}
        <i><a href="/occurrences?genus={{taxon_genus}}">{{taxon_genus}}</a></i>
      {{/taxon_genus}}
      {{^taxon_genus}}
        {{taxon_name}}
      {{/taxon_genus}}
    {{/taxon_species}}</td>
  <td>{{collector}}</td>
</tr>
<tr>
  <td colspan="5" class="noBoarder">
    <div class="panel-collapse collapse" id="collapse{{id}}" style="height:0px;">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <h4>
            {{#taxon_species}}
              {{taxon_family}} - <i>{{taxon_genus}} {{taxon_species}}</i> {{#common_name}}<small> ({{common_name}}) </small>{{/common_name}}
            {{/taxon_species}}
            {{^taxon_species}}
              {{#taxon_genus}}
                {{taxon_family}} - {{taxon_genus}} {{#common_name}}<small> ({{common_name}}) </small>{{/common_name}}
              {{/taxon_genus}}
              {{^taxon_genus}}
                {{taxon_family}} {{#common_name}}<small> ({{common_name}}) </small>{{/common_name}}
              {{/taxon_genus}}
            {{/taxon_species}}
            </h4>
            <br>

            <strong>Collection date:</strong> {{collection_start_date}} {{#collection_end_date}} to {{collection_end_date}} {{/collection_end_date}}<br><br>

            {{#collection_method}}<strong>Collection method:</strong> {{collection_method}}<br><br>{{/collection_method}}

            {{#n_total_specimens}}<strong>Total specimens:</strong> {{n_total_specimens}}<br><br>{{/n_total_specimens}}

            {{#bait}}<strong>Bait:</strong> {{bait}} <br><br>{{/bait}}

            {{#collection_medium}}<strong>Medium:</strong> {{collection_medium}} <br><br> {{/collection_medium}}

            {{#environ}}<strong>Environment:</strong> {{environ}} <br><br> {{/environ}}

            <strong>Location:</strong> {{geometry}} {{#geom_basis}} <small> ({{geom_basis}}) </small> {{/geom_basis}} {{#location_note}}, {{location_note}} {{/location_note}}<br><br>

            {{#note}}<strong>Other notes:</strong> {{note}} <br><br>{{/note}}
          </div>
          <div class="col-xs-6">
            {{#image}} 
            <img src="/images/main/{{image}}" class="occurrenceImage"/><br>
            {{image_description}}{{#image_geometry}}, {{image_geometry}} {{/image_geometry}}
            {{/image}}
          </div>
        </div>
 
          <!--
            common_name
            family
            author
            determiner
            individuals
            location resolution
            collected or observed
            environment

            photo!
            photographer
            photo notes
            photo date
            photo location

        -->

      </div>
    </div>
  </td>
</tr>
{{/occurrences}}